<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Midterm Survey</title>
</head>
<body>
    <h1>Midterm Survey</h1>

    <form method="POST" action="#">

        <label>
            Name
            <input type="text" name="name" value="{{ @name }}">
            <check if="{{ @errors['name'] }}">
                <span>{{ @errors['name'] }}</span>
            </check>
        </label>
        <br>

        <p> Check all that apply:
            <check if="{{ @errors['options'] }}">
                <span>{{ @errors['options'] }}</span>
            </check><br><br>

            <repeat group="{{ @checkOptions }}" value="{{ @currentOption }}">
                <label>
                    <input type="checkbox" name="options[]" value="{{ @currentOption }}"
                    <check if="{{ !empty(@options) && in_array(@currentOption, @options) }}">
                        checked="checked"
                    </check>
                    >
                    {{ @currentOption }}
                </label><br>
            </repeat>
        </p>

        <input type="submit">

    </form>
</body>
</html>